/* --------------------------------------*/


/* General styles */


/* --------------------------------------*/

h1,
h2 {
    font-family: "Exo", sans-serif;
    /* padding-left: 5vw; */
    /* move 5 to js hover function 1 is ok for non hover */
    padding-left: 3vw;
    z-index: 2;
    color: var(--main-text-color);
}

p {
    padding-top: 1vh;
    padding-left: 4vw;
    color: var(--default-text);
}

h1 {
    font-size: 6em;
}

h2 {
    font-size: 2.5em;
}

a {
    color: var(--main-text-color);
    text-decoration: underline;
}

.button {
    font-family: sans-serif;
    color: var(--main-text-color);
    width: 200px;
    height: 70px;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    padding-top: 18px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    background-color: var(--main-color);
    border: 2px solid var(--accent-color);
    position: relative;
}


/* --------------------------------------*/


/* General styles media queries */


/* --------------------------------------*/


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
    .button {
        padding-top: 8px;
        font-size: 0.6em;
        width: 175px;
        height: 35px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 600px) {
    .button {
        padding-top: 10px;
        font-size: 0.9em;
        width: 175px;
        height: 40px;
    }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    .button {
        padding-top: 14px;
        font-size: 1.2em;
        width: 175px;
        height: 50px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    .button {
        padding-top: 18px;
        font-size: 1.5em;
        width: 175px;
        height: 70px;
    }
}