/* --------------------------------------*/
/* Header styles */
/* --------------------------------------*/

.header {
  width: 100%;
  height: 12vh;
  background-color: var(--secondary-color);
  top: 0;
  transition: all 0.4s;
  z-index: 15;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header-title {
  width: 90%;
  font-size: 10vh;
  color: var(--main-text-color);
  position: relative;
  top: 0;
  transition: all 0.2s;
  padding-left: 0;
  text-align: center;
}

.header-scrolled {
  top: -70px;
  height: 120px;
  justify-content: flex-start;
}

.header-title-scrolled{
  margin-left: 10px;
  top: 50px;
  width: 25%;
  font-size: 2.5em;
}

.header-option {
  position: absolute;
  right: 5%;
  top: 20%;
  border: 2px solid white;
  background-color: var(--accent-color);
  border-radius: 20px;
  width: 80px;
  height: 45px;
  cursor: pointer;
  z-index: 10;
}

.header-option-circle {
  height: 30px;
  width: 30px;
  border: 2px solid white;
  background-color: var(--main-color);
  border-radius: 50%;
  left: 10px;
  top: 5px;
  position: absolute;
}

.header-option-arrow {
  height: 12px;
  width: 12px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transform: rotate(45deg);
  right: 15px;
  top: 10px;
  position: absolute;
}

.header-option-dropdown {
  position: absolute;
  right: -1000px;
  border: 2px solid white;
  border-radius: 30px;
  width: 60px;
  height: 220px;
  background-color: gray;
  right: 5%;
  top: 50px;
  opacity: 0;
  z-index: -100;
}

.header-option-dropdown-on {
  opacity: 1;
  z-index: 10;
}

.header-option-scrolled {
  top: 60%;
}

.theme-circle {
  position: absolute;
  height: 30px;
  width: 30px;
  border: 2px solid white;
  border-radius: 50%;
  left: 12px;
  cursor: pointer;
}

.theme-circle:nth-child(1) {
  top: 5px;
  background-color: black;
}

.theme-circle:nth-child(2) {
  top: 40px;
  background-color: #3D5A80;
}

.theme-circle:nth-child(3) {
  top: 75px;
  background-color: #52796F;
}

.theme-circle:nth-child(4) {
  top: 110px;
  background-color: #4A4E69;
}

.theme-circle:nth-child(5) {
  top: 145px;
  background-color: #FCA311;
}

.theme-circle:nth-child(6) {
  top: 180px;
  background-color: #403D39;
}

/* --------------------------------------*/
/* Header styles media queries */
/* --------------------------------------*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .header-title {
    font-size: 5vh;
  }

  .header-title-scrolled {
    font-size: 1.5em;
    width: 60%;
    top: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-title {
    font-size: 6vh;
  }

  .header-title-scrolled {
    font-size: 2em;
    width: 50%;
    top: 40px;
    justify-content: flex-start;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-title {
    font-size: 7vh;
  }

  .header-title-scrolled {
    font-size: 2.25em;
    width: 40%;
    top: 40px;
    justify-content: flex-start;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-title {
    font-size: 7vh;
  }

  .header-title-scrolled {
    font-size: 2.25em;
    width: 30%;
    top: 40px;
    justify-content: flex-start;
  }
}
