.project-detail {
    width: 100%;
    padding-left: 0;
    position: relative;
    height: 0;
    opacity: 0;
    padding: 0;
    transition: all 0.5s;
}

.project-detail-span {
    position: absolute;
    top: -30px;
    width: 100%;
    height: 50px;
    background-color: var(--accent-color);
}

.project-detail-span h2 {
    color: var(--accent-text-color);
}

.project-detail .project-detail-pair {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
    width: 80%;
    padding-left: 10%;
}

.project-detail-text-pair {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.project-detail-pair img {
    height: 150px;
    margin: 25px;
    border: 2px solid var(--accent-color);
    border-radius: 10px;
}

.project-detail-on {
    padding: 2% 0;
    opacity: 1;
    height: 100%;
}

h1, h2, h3 {
    font-family: "Exo", sans-serif;
    z-index: 2;
    color: var(--main-text-color);
}

p {
    padding-top: 1vh;
    color: var(--main-text-color);
}
